<main>
 <div class="container px-5 px-sm-0">
    <div class="row">
      
      <div class="col-md-3">
        
        <%= render "layouts/sub", book: @book_detail %>
        
      </div>
  
  
      <div class="col-md-8 offset-md-1">
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td class="books-users-image-column">
          <a href="/users/<%= @book.user.id %>"> 
              <% if @book.user.profile_image.attached? %> 
                <%= image_tag @book.user.profile_image.variant(resize_to_fill: [80, 80]), alt: "User Profile Picture" %>
              <% else %>
                <%= image_tag "default-profile.jpg", size: "80x80" %>
              <% end %>
            <br>
            <%= @book.user.name %> 
          </a>
        </td>
        
        <td class="books-title-column"><a href="<%= book_path(@book) %>"><%= @book.title %></a></td>

        <td><%= @book.body %></td>
        <% if current_user == @book.user %>
        <td class="books-action-column">
          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-sm btn-success' %> 
        </td>

        <td class="books-action-column">
          <%= link_to 'Destroy', book_path(@book), 
          method: :delete, 
          data: { confirm: '本当に消しますか？' }, 
          class: 'btn btn-sm btn-danger destroy_book_' %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

      </div>
      
    </div>
  </div>
</main>