<main>
 <div class="container px-5 px-sm-0">
    <div class="row">
      
      <div class="col-md-3">
        
        <%= render "layouts/sub", book: @book_detail %>
        
      </div>
  
  
      <div class="col-md-8">
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <a href="/users/<%= @book.user.id %>"> <!-- @bookに変更: インスタンス変数を参照 -->
            <% if @book.user.profile_image.attached? %> <!-- profile_imageが添付されているか確認 -->
              <%= image_tag @book.user.profile_image %> <!-- 画像がある場合のみ表示 -->
            <% else %>
              <%= image_tag "default-profile.jpg" %>
            <% end %>
            <br>
            <%= @book.user.name %> <!-- @bookに変更: インスタンス変数を参照 -->
          </a>
        </td>
        
        <td><a href="<%= book_path(@book) %>"><%= @book.title %></a></td>
        <!-- @bookに変更: インスタンス変数を参照 -->
        <td><%= @book.body %></td>
        <!-- @bookに変更: インスタンス変数を参照 -->
        <td>
          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-sm btn-success' %> 
        </td>
        
        <td>
          <%= link_to 'Destroy', book_path(@book), 
          method: :delete, 
          data: { confirm: '本当に消しますか？' }, 
          class: 'btn btn-sm btn-danger destroy_book_' %>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>

      </div>
      
    </div>
  </div>
</main>